{%- extends 'index.html' -%}
{%- block body -%}

<div class="post">
                        <!-- 由二部分组成,标签头,内容页,4个内容页容器 -->
                        <!-- 标签头 -->
                        <ul id="myTab" class="nav nav-tabs">
                            <!-- 建立js触发点 -->
                            <li class="active"><a href="#home" data-toggle="tab">Applications by Molecule</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">Applications by Emails</a></li>
                            <!-- 弄个下拉示例 -->
                           <!--  <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
                                    <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
                                </ul>
                            </li> -->
                            <!-- 和通过data属性没有不同,只是缺少一个data-toggle -->
                           <!--  <li><a href="#profile">点击切换</a></li>
                            <li><a href="#dropdown2">点击切换2</a></li> -->
                        </ul>
                        <!-- 不同页内容容器 -->
                        <div id="myTabContent" class="tab-content">
                            <!-- 各个部分得与id部分对应上.bs里面是href -->
                            <div class="tab-pane fade active in" id="home">
                                	<div class="post">
		<div class="row">
			<div class="col-lg-12">
				{%- if applications -%}
					<div class="page-header">
						<h2>Applications by Molecule</h2>
					</div>
					<div class="content">
						{%- with messages = get_flashed_messages(with_categories=True) -%}
		                    {%- if messages -%}
		                        {%- for category, message in messages -%}
		                            <div class="response">
		                                <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
		                            </div>
		                        {%- endfor -%}
		                    {%- endif -%}
		                {%- endwith -%}
						<table class="table table-striped">
							<tr>
								<th>Molecule</th>
								<th>Applications Count</th>
								<th>Email addresses</th>
								<!--<th>Date applied</th>-->
								<!--<th>Status</th>-->
								<!--<th>Status</th>-->
								<th></th>
								<th></th>
							</tr>
							{%- for application in applications -%}
							<tr>
								<td><a title="Detailed" href="{{ url_for('single_molecule', title=application['title']) }}" data-target="_blank">{{ application['title'] | safe }}</a></td>
								<td>{{ application['count'] |safe }}</td>
								<td>
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ application['title'] }}">
										applied emails
									</a>
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									<div id="{{ application['title'] }}" class="accordion-body collapse ">
										<div class="accordion-inner">


									{%- for email in application['email'] -%}
										{%- if applications|length >= 1 -%}
									<a title="handle_applicaton" href="{{ url_for('handle_application', permalink=email['permalink']) }}" data-target="_blank">{{ email['email'] | safe }}</a>

										{% if not email.get('status',None) %}
										<a title="Accept" href="{{ url_for('accept', permalink=email['permalink'])  }}" class="response btn btn-primary" target="_blank">Accept</a>
										<a title="Decline" href="{{ url_for('decline', permalink=email['permalink']) }}" class="response btn btn-primary">Decline</a>

										{% elif email.get('status',None)=='Accepted' %}
										Accepted

										{% elif email.get('status',None)=='Declined' %}

										Declined
										{%- endif -%}
										<a title="Delete" href="{{ url_for('application_del', id=email['id']) }}" class="icon-remove-sign bigger icon"></a>
										{%- endif -%}

											<br />
									{%- endfor -%}

										</div>
									</div>
								</td>

							</tr>
							{%- endfor -%}
						</table>
					</div>
				{%- else -%}
					<div class="page-header">
						<h1>applications not found..</h1>
					</div>
				{%- endif -%}
		    </div>
			{% if pagination and pagination.pages > 1 %}
			<div class="pagination-wrap">
				<ul class="pagination">
					{% for page in pagination.iter_pages() %}
					{% if page %}
					<li {% if page == pagination.page %}class="active"{% endif %}><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
					{% else %}
					<li><span class=ellipsis>…</span></li>
					{% endif %}
					{% endfor %}
					{% if pagination.has_next %}
					<li><a href="{{ url_for_other_page(pagination.page + 1)
						      }}">&raquo;</a></li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>


                            </div>
                            <!-- 控件类型 效果 -->
                            <div class="tab-pane fade" id="profile">
                                	<div class="post">
		<div class="row">
			<div class="col-lg-12">
				{%- if email_applications -%}
					<div class="page-header">
						<h2>Applications by Emails</h2>
					</div>
					<div class="content">
						{%- with messages = get_flashed_messages(with_categories=True) -%}
		                    {%- if messages -%}
		                        {%- for category, message in messages -%}
		                            <div class="response">
		                                <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
		                            </div>
		                        {%- endfor -%}
		                    {%- endif -%}
		                {%- endwith -%}
						<table class="table table-striped">
							<tr>
								<th>Email addresses</th>
								<th>Applications Count</th>
								<th>Molecule</th>
								<!--<th>Date applied</th>-->
								<!--<th>Status</th>-->
								<!--<th>Status</th>-->
								<th></th>
								<th></th>
							</tr>
							{%- for email_application in email_applications -%}
							<tr>
								<td>{{ email_application['email'] | safe }}</td>
								<td>{{ email_application['count'] |safe }}</td>
								<td>
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ loop.index }}">
										Applied Molecules
									</a>
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
									<div id="{{ loop.index }}" class="accordion-body collapse ">
										<div class="accordion-inner">

									{%- for title in email_application['title'] -%}
										{%- if email_applications|length >= 1 -%}

									<a title="handle_applicaton" href="{{ url_for('handle_application', permalink=title['permalink']) }}" data-target="_blank">{{ title['title'] | safe }}</a>

										{% if not title.get('status',None) %}
										<a title="Accept" href="{{ url_for('accept', permalink=title['permalink'])  }}" class="response btn btn-primary" target="_blank">Accept</a>
										<a title="Decline" href="{{ url_for('decline', permalink=title['permalink']) }}" class="response btn btn-primary">Decline</a>

										{% elif title.get('status',None)=='Accepted' %}
										Accepted

										{% elif title.get('status',None)=='Declined' %}

										Declined
										{%- endif -%}

										<a title="Delete" href="{{ url_for('application_del', id=title['id']) }}" class="icon-remove-sign bigger icon"></a>
										{%- endif -%}
											<br />
									{%- endfor -%}

										</div>
									</div>
								</td>

							</tr>
							{%- endfor -%}
						</table>
					</div>
				{%- else -%}
					<div class="page-header">
						<h1>email_applications not found..</h1>
					</div>
				{%- endif -%}
		    </div>
			{% if pagination and pagination.pages > 1 %}
			<div class="pagination-wrap">
				<ul class="pagination">
					{% for page in pagination.iter_pages() %}
					{% if page %}
					<li {% if page == pagination.page %}class="active"{% endif %}><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
					{% else %}
					<li><span class=ellipsis>…</span></li>
					{% endif %}
					{% endfor %}
					{% if pagination.has_next %}
					<li><a href="{{ url_for_other_page(pagination.page + 1)
						      }}">&raquo;</a></li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
                            </div>
                            <div class="tab-pane fade" id="dropdown1">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown2">
                                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                            </div>
                        </div>
                    </div>



{%- endblock -%}
