{%- extends 'index.html' -%}
{%- block head -%}{%- include 'head.html' -%}{%- block additional_css -%}<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet" media="screen">{%- endblock -%}{%- endblock -%}
{%- block body -%}
	{%- if molecule -%}
		<div class="post clearfix">
			<div class="row">
				<div class="col-lg-8">
					<div class="page-header">
						<h2>{{ molecule['title'] | safe }}</h2>

					</div>

					<p>{{ molecule['image'] |safe }}</p>
					<div class="content article">

						{{ molecule['body'] |safe}}

					</div>

				<hr style="clear: both;">

				{% if session.user %}
					<div>file for download</div>

					<li><a href="{{ url_for('download_zip', title=molecule['title']) }}">{{ molecule['title']+'.zip' }}</a></li>

				{% else %}
				<a href="{{ url_for('new_application',title=molecule['title']) }}" >read our licence and apply for full data</a>
				{% endif %}

				</div>
			</div>
		</div>
	{%- endif -%}
	{%- include 'sidebar.html' -%}
{%- endblock -%}
{%- block additional_js -%}<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>{%- endblock -%}
